.Index {
    h2 {
        margin-left: 25px;
    }
    .searchbar-container {
        margin-left: 75px;
        margin-top: 15px;
        display: flex;
        align-items: center;
    
        form {
            display: flex;
            align-items: center;
        }
    
        input[type="text"] {
            width: 175px;
            height: 30px;
            border: 1px solid black;
            border-radius: 15px;
            padding: 5px 30px 5px 10px;
            font-size: 16px;
        }
    
        button {
            font-size: 1.1em;
            background: none;
            border: none;
            cursor: pointer;
            margin-left: -40px;
        }
    }
}