.Index {
    padding: 0px 25px;
    .Index-speaker-button {
        width: 125px;
        color: white;
        background-color: rgb(0, 50, 134);
        font-size: 1.2em;
        font-weight: 500;
        padding:10px 8px;
        border: none;
        border-radius: 10px 0px 0px 10px;
    }
    .Index-Exhibits-button {
        color: black;
        width: 125px;
        background-color: white;
        font-size: 1.2em;
        font-weight: 700;
        padding:8.75px 10px;
        border: none;
        border-radius: 0px 10px 10px 0px;
        border: 0.5px solid rgb(0, 50, 134);
    }
    .Index-Select{
        margin-top: 20px;
    
        select{
            padding: 8px 2px;
            width: 200px;
            border-radius: 10px;
        }
    }
}